{% extends "base.html" %}

{% block content %}
</br></br>
<div class="container text-center">
</br>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="form-group" action="http://localhost:5000/features" method="POST">

                        <textarea class="form-control bg-white text-dark" rows=5 id="body1" placeholder="Enter Headline Here to check Stance" name="head" required></textarea>
                    </br>

                        <textarea class="form-control bg-white text-dark" rows=10 id="body2" placeholder="Enter Body Text" name="body" required></textarea>
                    </br>
                        <div class="float-center">
                            <button type="submit" class="btn btn-primary">Check Stance</button>
                        </div>
                </form>
            </div>
        </div>

        </br></br><h1>Fake News & Clickbait Detector</h1>
        <div id="model_status">
                <div class="spinner-border text-success"></div><p>Loading Model</p>
        </div>

        </div>


</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $(function () {
                $("#model_status").load("/ajax/index");
            });
</script>
{% endblock %}
